body{
	margin:0;
	padding:0;
	font-family:'微软雅黑';
	font-size:14px;
}
a, a:visited{
	color:black;
	text-decoration:none;	
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style:none;
	margin:0;
	padding:0;
}
.middle{
	width:1200px;
	margin:0 auto;
}
.nav{
	height:60px;
}
.search{
	height:60px;
	float:right;
	position:relative;
}
.search input{
	width:200px;
	margin:20px 50px 0 0;
	height:30px;
	border:2px solid #B0C4DE;
}
.search button{
	font-size:15px;
	position:relative;
	right:40px;
	top:2px;
	padding:4px 17px;
	border-radius:4px;
	border:1px solid gray;
}
.title{
	font-size:50px;
	font-weight:bold;
	width:1200px;
	margin:0 auto;
	color:#00CED1
}
.title_header{
	padding:10px 0;
}
.novel_body{
	font-weight:bold;
	font-size:20px;
}
.novel_p{
	font-size:16px;
	line-height:1.7;
}
.download_p{
	font-size:30px;
	font-weight:block;
}
.download{
	border:1px solid #778899;
}
.download li{
	padding:10px 20px;
}
.download li a{
	color:#20B2AA;
}






